.image {
    width: 80px;
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgba(96, 168, 233, 0.9), rgba(214, 47, 166, 0.3), rgba(214, 47, 166, 0.1));
    position: relative;
    bottom: 50px;
}

.imageGrid {
    /*height: 0;*/
    display: flex;
    justify-content: space-around;
}

.outerGrid {
    height: 0;
}

.card {
    margin-bottom: 52px;
}
